<cfset Hola = CreateObject("component","/APIS/pay").init()>



<cfset card = structnew()>
<cfset card["card_number"] = "4400663985616427">
<cfset card["expiration_month"] = "02">
<cfset card["expiration_year"] = "2027">
<cfset card["card_validation_code"] = "081">
<cfset card["consumer_email"] = "jc@astroweb.mx">
<cfset card["first_name"] = "Juan Carlos">
<cfset card["first_last_name"] = "Cardoso">
<cfset card["useTest"] = true>
<cfset card["debug"] = true>

<cfset card = structnew()>
<cfset card["card_number"] = "5579070112234789">
<cfset card["expiration_month"] = "12">
<cfset card["expiration_year"] =  "2024">
<cfset card["card_validation_code"] = "187">
<cfset card["consumer_email"] = "jc@astroweb.mx">
<cfset card["first_name"] = "Juan Carlos">
<cfset card["first_last_name"] = "Cardoso">
<cfset card["useTest"] = true>
<cfset card["debug"] = true>
  



<cfset card["amount"] = 1000>
<cfset card["description"] = "test for BOA in Banorte">
<cfset card["autocapture"] = false> 


<cfset myToken = Hola.holacash_charge(argumentCollection=card)>
<cfdump var="#myToken#" label="token">   



<cfdump var="#hola#">