
<!---
<!--- Get card_number when empty and approved ---->
<cfquery dbtype="odbc" datasource="hola" name="test">
    select distinct(cash_transaction_id) as cid
    from api_openpaychargeback
</cfquery>

<cfoutput query="test">
    <cfquery dbtype="odbc" datasource="hc" name="checa" maxrows="1">
        select tracing_id 
        from tx_core 
        where original_cash_transaction_id = '#cid#'
    </cfquery>
    <cfif checa.recordcount eq 1>
        <br>#checa.tracing_id#
    </cfif>
</cfoutput>
--->

<cfquery dbtype="odbc" datasource="hola" name="data2">
select distinct submission_channel
from api_cashtransaction
</cfquery>

<cfdump var="#data2#">
