<cfset All = Application.Admin.getAll(session.onlyNet,"ASC",10000,session.isforlocal)>
<cfset new = chr(13) & chr(10)>
<cfset fileName = "HOLA.csv">
<cfcontent type="application/msexcel" reset="true">
<cfheader  name="Content-Disposition" value="attachment; filename=#fileName#">
<cfoutput>MSID,importDate,identity_user_id,merchant_name,original_cash_transaction_id,is_for_local_merchant,cash_transaction_email,description,processor_id,mapped_eci,date_created,submission_channel,amount,tracing_id,approved_declined,processor_decline_code,processor_decline_message,bank_name,card_number,card_type,cash_decline_code,triggered_3DS,hasToken,isMSI,fraud_success,hasRefund#new#</cfoutput>
<cfoutput query="All">#MSID#,#dateformat(importDate,'yyyy-mm-dd')#,#identity_user_id#,#replacenocase(merchant_name,',','_','ALL')#,#original_cash_transaction_id#,#is_for_local_merchant#,#replacenocase(cash_transaction_email,',','_','ALL')#,#replacenocase(description,',','_','ALL')#,#processor_id#,#mapped_eci#,#dateformat(date_created,'yyyy-mm-dd')#,#replacenocase(submission_channel,',','_','ALL')#,#numberformat(amount,'0.00')#,#tracing_id#,#approved_declined#,#processor_decline_code#,#replacenocase(processor_decline_message,',','_','ALL')#,#replacenocase(bank_name,',','_','ALL')#,#card_number#,#replacenocase(card_type,',','_','ALL')#,#cash_decline_code#,#triggered_3DS#,#hasToken#,#isMSI#,#fraud_success#,#hasRefund#<cfif currentRow neq recordcount>#new#</cfif></cfoutput>
<cfabort>