<!--- PERMIT --->
<cfset Permit = "Settings.Permits"><cfset hasPermit = Application.admin.hasPermit(session.userID,Permit)>
<cfif Not(hasPermit)><script>alert("Permission Denied");location.href="index.cfm";</script><cfabort></cfif>

<!-- BEGIN #content -->
<div id="content" class="app-content">
    Hello World
</div>